= render partial: "error_text"
.chat
  = render partial: "groups/chat-side", locals: {groups: @groups}
  .chat-main
    .chat-header
      .chat-header--left
        %h2
          = @group.name
        %p.chat-header__users
          Members：
          = render partial: "members"
      .chat-header--right
        = link_to "Edit", edit_group_path(@group), class: "chat-header__edit"
    .chat-body
      %ul.chat-messages
        - @messages.each do |message|
          %li.chat-message
            .chat-message__header
              %p.chat-message__user
                = message.user.name
              %p.chat-message__date
                = message.created_at
            .chat-message__text
              = message.body
    .chat-footer
      = form_for [@group,@message], class: 'js-form' do |f|
        .chat-footer__text
          = f.text_area :body, placeholder: "type a message", class: 'js-form__text-field'
          = f.label class: "chat-footer__file" do
            %i{class: "fa fa-file-image-o"}
        = f.submit "send"
